# Node.js dependencies
node_modules/

# Logs and build files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/